/bin
/.classpath

/.project

.settings
/pc-bench.jar
/export_local.xml
/fit.log
/CompareRelPAs.jar
/ComparePrivacyModelsSoriaComas.jar
/CompareRelPAsSoriaComas.jar
/Compare2d_PA.jar
/Compare1d_PA.jar
/CompareRelPAsIncludingAllPossiblePredictors.jar
/FindBestParamForGivenMinRelCa.jar
/Docker/resources/utility
/Docker/resources/data
/Docker/resources/hierarchies
